body {
  margin: 0;
}

.menu {
  background: #9169FF;
    margin: 0;
}

  .item{
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0;
  }

  .link{
    color: yellow;
  }

  ul {
    margin: 0;
  }

.item:nth-child(-n+4){
  border-right:3px solid yellow;
}

.brands {
  margin: 0;
}

  .brands:hover {
    text-decoration: underline;
    color: #999;
}

.tel {
  text-decoration: none;
  color: #444;
}



.first {
  font-size: 18px;
  font-weight: bold;
}


.first::after{
  display: block;
  content: "";
  height: 1px;
  background-color: black;
}

.old {
  border-bottom: 1px solid #000;
}
